<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="author" content="" />
    <script type="module" src="js/feed.js"></script>
    <link rel="icon" type="image/x-icon" href="img/logo.svg" />
    <link href="css/generalStructure.css" rel="stylesheet" />
    <link href="css/bootstrap2.css" rel="stylesheet" />
    <title>BigO!</title>
  </head>

  <body>

    <body>
      <nav>
        <div class="navbar__item"></div>
        <div class="navbar__item">
          <div class="navbar__item">
            <div class="input-search-container">
              <input class="input--without-border">
              <img class="input__image" src="img/search.svg">
            </div>
          </div>
          <button class="button--call-to-action no-select">Pesquisar</button>
        </div>
        <div class="navbar__item navbar__item--right">
          <div id="profile" class="profile-container">
            <div class="profile-picture clickable">
              <img src="img/profile-picture.svg">
            </div>
            <aside id="profile-popover" class="popover hidden">
              <div class="popover__top"></div>
              <div class="popover__body">
                <span id="profile-button" class="clickable no-select">Perfil</span>
                <hr class="popover__division">
                <span class="clickable no-select">Sair</span>
              </div>
            </aside>
          </div>
        </div>
      </nav>
      <main class="feed-container">
        <section class="feed__item">
          <div class="container-structure"></div>
        </section>
        <section class="feed__item feed__item--central">
          <article class="container-structure feed__post">
            <img id="bookmark" class="feed__post-bookmark clickable no-select" src="img/bookmark.svg">
            <header class="feed__post-header">
              <div id="profile" class="profile-container">
                <div class="profile-picture clickable">
                  <img src="img/profile-picture.svg">
                </div>
              </div>
              <div>
                <span class="feed__post-header--bold">Lucas Spartacus</span>
                <br>
                <span class="feed__post-header--light">Postado em 22/10/2021</span>
              </div>
              <div>
              </div>
            </header>
            <section class="feed__post-content">
              <h2 class="feed__post-content-title">O que é a inteligência artificial?</h2>
              <p>
                A inteligência artificial é um ramo da ciência da computação que busca simular a
                inteligência humana em uma máquina. Os sistemas de IA são regidos por algoritmos
                usando técnicas como machine learning e deep learning para demonstrar comportamento
                “inteligente”.
              </p>
              <p>
                A tecnologia teve sua definição conceitual nos idos dos anos 1950,
                na Universidade de Carnegie Mellon. Os cientistas Herbert Simon e Allen Newell foram
                os pais dessa ciência, criando, nessa universidade, o primeiro laboratório dedicado
                à inteligência artificial no âmbito acadêmico.
              </p>
              <img src="img/iajpeg.jpeg">
            </section>
            <section class="container-structure feed__post-comments">
              <div class="feed__post-comments-area">
                <div class="feed__post-comments-item">
                  <div id="profile" class="profile-container">
                    <div class="profile-picture clickable">
                      <img src="img/profile-picture2.svg">
                    </div>
                  </div>
                  <div>
                    <span class="feed__post-header--bold">Lucas Nascimento</span>
                    <br>
                    <p>Achei muito legal seu artigo. Obrigado por compartilhar.</p>
                  </div>
                </div>
                <div class="feed__post-comments-item feed__post-comments-subitem">
                  <div id="profile" class="profile-container">
                    <div class="profile-picture clickable">
                      <img src="img/profile-picture.svg">
                    </div>
                  </div>
                  <div>
                    <span class="feed__post-header--bold">Lucas Spartacus</span>
                    <br>
                    <p>Vlws. Sempre é bom compartilhar conhecimento.</p>
                  </div>
                </div>
                <div class="feed__post-comments-item">
                  <div id="profile" class="profile-container">
                    <div class="profile-picture clickable">
                      <img src="img/profile-picture3.svg">
                    </div>
                  </div>
                  <div>
                    <span class="feed__post-header--bold">Ygor</span>
                    <br>
                    <p>Maneiro d+ estou estudando isso no 7° período.</p>
                  </div>
                </div>
                <span class="clickable no-select feed__post-header--light show-more">Mostrar mais</span>
              </div>
              <textarea class="form-control" rows="3" placeholder="Adicione um comentário à postagem"></textarea>
            </section>
          </article>
        </section>
        <section class="feed__item"></section>
      </main>
    </body>
  </body>

</html>