<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>BigO!</title>
        <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
        <link rel="icon" type="image/x-icon" href="assets/biog.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900"
            rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
            rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>

    <body>

        <body id="page-top">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark   navbar-custom fixed-top">
                <div class="container px-5">
                    <a class="navbar-brand" href="#page-top"><img src="assets/img/biog.png" alt="..." /></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                        aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item"><a class="nav-link clickable" data-toggle="modal"
                                    data-target="#myModalAdd">Cadastro</a></li>
                            <li class="nav-item"><a class="nav-link btn btn-outline-success my-2 my-sm-0 clickable"
                                    data-toggle="modal" data-target="#myModallogin">Login</a></li>
                    </div>
                </div>
            </nav>

            <!-- Header-->
            <header class="masthead text-center text-white">
                <div class="masthead-content">
                    <div class="container px-5">
                        <h1 class="masthead-heading mb-0">Conhecimento compartilhado</h1>
                        <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll">BigO!</a>
                    </div>
                </div>
            </header>

            <!-- Content section 1-->
            <section id="scroll">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-lg-2">
                            <div class="p-5"><img class="img-fluid rounded-circle" src="assets/img/01.jpg" alt="..." />
                            </div>
                        </div>
                        <div class="col-lg-6 order-lg-1">
                            <div class="p-5">
                                <h2 class="display-4">O que somos ?</h2>
                                <p> BigO! é uma startup que propõe criar uma plataforma que coloca estudantes da área da
                                    computação no mesmo lugar para o compartilhamento do conhecimento</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Content section 2-->
            <section>
                <div class="container px-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6">
                            <div class="p-5"><img class="img-fluid rounded-circle" src="assets/img/02.jpg" alt="..." />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <h2 class="display-4">Conectividade para evoluir</h2>
                                <p>Nossa plataforma permite que usuário envie vídeos, links e outros arquivos sobre
                                    conteúdo relacionados a computação para que outros usuários do sistema possam ver.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Content section 3-->
            <section>
                <div class="container px-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-lg-2">
                            <div class="p-5"><img class="img-fluid rounded-circle" src="assets/img/03.jpg" alt="..." />
                            </div>
                        </div>
                        <div class="col-lg-6 order-lg-1">
                            <div class="p-5">
                                <h2 class="display-4">Se junte a gente!</h2>
                                <p>Cadastre-se e comece a compartilhar e receber conteúdos de seu interesse. A BigO! te
                                    ajuda a se formar mais rápido e com mais conexão. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- AddModal-->
            <form action="/save" method="post">
                <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Cadaste-se no sistema</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <input type="text" name="usuario_name" class="form-control" placeholder="seu nome"
                                        required>
                                </div>

                                <div class="form-group">
                                    <input type="email" name="usuario_email" class="form-control" placeholder="email"
                                        required>
                                </div>

                                <div class="form-group">
                                    <input type="password" name="usuario_senha" class="form-control" placeholder="senha"
                                        required>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">fechar</button>
                                <button type="submit" class="btn btn-primary">cadastrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <!-- login Modal-->
            <form action="/auth" method="post">
                <div class="modal fade" id="myModallogin" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Entrar no sistema</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <div class="form-group">
                                    <input type="email" name="usuario_email" class="form-control" placeholder="email"
                                        required>
                                </div>

                                <div class="form-group">
                                    <input type="password" name="usuario_senha" class="form-control" placeholder="senha"
                                        required>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">fechar</button>
                                <button type="submit" class="btn btn-primary">entrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <footer class="footer py-4">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-4 text-lg-start"></div>
                        <div class="col-lg-4 my-3 my-lg-0">
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                        </div>

                    </div>
                </div>
            </footer>

            <script src="/assets/js/jquery-3.3.1.js"></script>
            <script src="/assets/js/bootstrap.js"></script>

            <!-- Bootstrap core JS-->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
            <!-- Core theme JS-->
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        </body>
    </body>

</html>