<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="author" content="" />
    <script src="js/jquery-3.3.1.js"></script>
    <script src="js/bootstrap.js"></script>
    <link rel="icon" type="image/x-icon" href="img/logo.svg" />
    <link href="css/generalStructure.css" rel="stylesheet" />
    <link href="css/bootstrap2.css" rel="stylesheet" />
    <title>BigO!</title>
  </head>

  <body>

    <body>
      <nav>
        <div class="navbar__item navbar__item--left">
          <button class="navbar__button no-select" data-toggle="modal" data-target="#post">Adicionar postagem</button>
        </div>
        <div class="navbar__item">
        </div>
        <div class="navbar__item navbar__item--right">
          <div id="profile">
            <div class="profile-picture clickable">
              <img src="img/profile-picture.svg">
            </div>
            <aside id="profile-popover" class="popover hidden">
              <div class="popover__top"></div>
              <div class="popover__body">
                <span id="feed-button" class="clickable no-select">Feed</span>
                <hr class="popover__division">
                <span class="clickable no-select">Sair</span>
              </div>
            </aside>
          </div>
        </div>
      </nav>
      <main class="profile-container">
        <section class="profile__item">
          <article class="container-structure feed__post">
            <header class="profile__item-header">
              <div class="navbar__item navbar__item--left profile-picture-name">
                <div id="profile" class="profile-picture-container">
                  <div class="profile-picture--large clickable">
                    <img src="img/profile-picture.svg">
                  </div>
                </div>
                <div>
                  <span class="feed__post-header--bold--large">{{usuario.usuario_name}}</span>
                </div>
              </div>
              <button class="navbar__item--right profile-edit" data-toggle="modal" data-target="#edit">
                <embed src="img/edit.svg">
              </button>
            </header>
            <section class="container-structure feed__post">
              <nav class="profile__navbar">
                <span class="profile__navbar-item feed__post-header--bold profile__navbar-item--selected clickable">
                  Postagens
                </span>
                <span class="profile__navbar-item feed__post-header--bold clickable">Favoritos</span>
              </nav>
              <div class="feed__post">
                <article class="container-structure feed__post" data-type="post"
                  data-title="O que é a inteligência artificial?">
                  <img id="bookmark" class="feed__post-bookmark clickable no-select" src="img/bookmark.svg">
                  <header class="feed__post-header">
                    <div id="profile">
                      <div class="profile-picture clickable">
                        <img src="img/profile-picture.svg">
                      </div>
                    </div>
                    <div>
                      <span class="feed__post-header--bold">Lucas Spartacus</span>
                      <br>
                      <span class="feed__post-header--light">Postado em 22/10/2021</span>
                    </div>
                    <div>
                    </div>
                  </header>
                  <section class="feed__post-content">
                    <h2 class="feed__post-content-title">O que é a inteligência artificial?</h2>
                    <p>
                      A inteligência artificial é um ramo da ciência da computação que busca simular a
                      inteligência humana em uma máquina. Os sistemas de IA são regidos por algoritmos
                      usando técnicas como machine learning e deep learning para demonstrar comportamento
                      “inteligente”.
                    </p>
                    <p>
                      A tecnologia teve sua definição conceitual nos idos dos anos 1950,
                      na Universidade de Carnegie Mellon. Os cientistas Herbert Simon e Allen Newell foram
                      os pais dessa ciência, criando, nessa universidade, o primeiro laboratório dedicado
                      à inteligência artificial no âmbito acadêmico.
                    </p>
                    <img src="img/iajpeg.jpeg">
                  </section>
                  <section class="container-structure feed__post-comments">
                    <div class="feed__post-comments-area">
                      <div class="feed__post-comments-item">
                        <div id="profile">
                          <div class="profile-picture clickable">
                            <img src="img/profile-picture2.svg">
                          </div>
                        </div>
                        <div>
                          <span class="feed__post-header--bold">Lucas Nascimento</span>
                          <br>
                          <p>Achei muito legal seu artigo. Obrigado por compartilhar.</p>
                        </div>
                      </div>
                      <div class="feed__post-comments-item feed__post-comments-subitem">
                        <div id="profile">
                          <div class="profile-picture clickable">
                            <img src="img/profile-picture.svg">
                          </div>
                        </div>
                        <div>
                          <span class="feed__post-header--bold">Lucas Spartacus</span>
                          <br>
                          <p>Vlws. Sempre é bom compartilhar conhecimento.</p>
                        </div>
                      </div>
                      <div class="feed__post-comments-item">
                        <div id="profile">
                          <div class="profile-picture clickable">
                            <img src="img/profile-picture3.svg">
                          </div>
                        </div>
                        <div>
                          <span class="feed__post-header--bold">Ygor</span>
                          <br>
                          <p>Maneiro d+ estou estudando isso no 7° período.</p>
                        </div>
                      </div>
                      <span class="clickable no-select feed__post-header--light show-more">Mostrar mais</span>
                    </div>
                    <textarea class="form-control" rows="3" placeholder="Adicione um comentário à postagem"></textarea>
                  </section>
                </article>
              </div>
              <div class="feed__post hidden">
                <article class="container-structure feed__post" data-type="post"
                  data-title="O que é a inteligência artificial?">
                  <img id="bookmark" class="feed__post-bookmark clickable no-select" src="img/bookmark.svg">
                  <header class="feed__post-header">
                    <div id="profile">
                      <div class="profile-picture clickable">
                        <img src="img/profile-picture.svg">
                      </div>
                    </div>
                    <div>
                      <span class="feed__post-header--bold">Lucas Spartacus</span>
                      <br>
                      <span class="feed__post-header--light">Postado em 22/10/2021</span>
                    </div>
                    <div>
                    </div>
                  </header>
                  <section class="feed__post-content">
                    <h2 class="feed__post-content-title">O que é a inteligência artificial?</h2>
                    <p>
                      A inteligência artificial é um ramo da ciência da computação que busca simular a
                      inteligência humana em uma máquina. Os sistemas de IA são regidos por algoritmos
                      usando técnicas como machine learning e deep learning para demonstrar comportamento
                      “inteligente”.
                    </p>
                    <p>
                      A tecnologia teve sua definição conceitual nos idos dos anos 1950,
                      na Universidade de Carnegie Mellon. Os cientistas Herbert Simon e Allen Newell foram
                      os pais dessa ciência, criando, nessa universidade, o primeiro laboratório dedicado
                      à inteligência artificial no âmbito acadêmico.
                    </p>
                    <img src="img/iajpeg.jpeg">
                  </section>
                  <section class="container-structure feed__post-comments">
                    <div class="feed__post-comments-area">
                      <div class="feed__post-comments-item">
                        <div id="profile">
                          <div class="profile-picture clickable">
                            <img src="img/profile-picture2.svg">
                          </div>
                        </div>
                        <div>
                          <span class="feed__post-header--bold">Lucas Nascimento</span>
                          <br>
                          <p>Achei muito legal seu artigo. Obrigado por compartilhar.</p>
                        </div>
                      </div>
                      <div class="feed__post-comments-item feed__post-comments-subitem">
                        <div id="profile">
                          <div class="profile-picture clickable">
                            <img src="img/profile-picture.svg">
                          </div>
                        </div>
                        <div>
                          <span class="feed__post-header--bold">Lucas Spartacus</span>
                          <br>
                          <p>Vlws. Sempre é bom compartilhar conhecimento.</p>
                        </div>
                      </div>
                      <div class="feed__post-comments-item">
                        <div id="profile">
                          <div class="profile-picture clickable">
                            <img src="img/profile-picture3.svg">
                          </div>
                        </div>
                        <div>
                          <span class="feed__post-header--bold">Ygor</span>
                          <br>
                          <p>Maneiro d+ estou estudando isso no 7° período.</p>
                        </div>
                      </div>
                      <span class="clickable no-select feed__post-header--light show-more">Mostrar mais</span>
                    </div>
                    <textarea class="form-control" rows="3" placeholder="Adicione um comentário à postagem"></textarea>
                  </section>
                </article>
              </div>
            </section>
          </article>
        </section>
      </main>
    </body>

    <form action="/savepublicacoes" method="post">
      <div id="post" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal__header">
              <button data-dismiss="modal" aria-label="Close">
                <img src="img/close.svg" alt="Fechar tela de login">
              </button>
            </div>
            <section class="modal__form-container">
              <h2>Adicionar publicação</h2>
              <div class="input-container">
                <label for="titulo">Titulo</label>
                <input id="titulo" class="input--text" type="texte" name="publicacoes_titulo" required>
              </div>
              <div class="input-container">
                <label for="descricao">Descricao</label>
                <textarea id="descricao" name="publicacoes_descricao" required class="form-control" rows="3"></textarea>
              </div>
              <label for="filtro">Assunto:</label>
              <select name="publicacoes_filtro" id="filtro">
                <option value="ia">IA</option>
                <option value="cg">Computação gráfica</option>
                <option value="pi">Processamento de imagens</option>
                <option value="pro">Programação</option>
              </select>
              <form action="/action_page.php">
                <label for="img">Selecionar imagem:</label>
                <input type="file" id="img" name="publicacoes_img" accept="image/*">

              </form>
              <footer class="modal__form-footer">
                <button class="button--call-to-action" type="submit">Adicionar</button>
              </footer>
            </section>
          </div>
        </div>
      </div>
    </form>

    <form action="/update" method="post">
      <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal__header">
              <button data-dismiss="modal" aria-label="Close">
                <img src="img/close.svg" alt="Fechar tela de cadastro">
              </button>
            </div>
            <section class="modal__form-container">
              <h2>Edite seus dados</h2>
              <div class="input-container">
                <label for="name">Nome</label>
                <input id="name" class="input--text" type="text" name="usuario_name" required>
              </div>
              <div class="input-container">
                <label for="email">Email</label>
                <input id="email" class="input--text" type="email" name="usuario_email" required>
              </div>
              <div class="input-container">
                <label for="password">Senha</label>
                <input id="password" class="input--text" type="password" name="usuario_senha" required>
              </div>
              <footer class="modal__form-footer">
                <button class="button--call-to-action" type="submit">Editar</button>
              </footer>
            </section>
          </div>
        </div>
      </div>
    </form>
  </body>

</html>