@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Kameron:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --bo-line-height-text: 1.5;

  --bo-font-weight-title: 700;
  --bo-font-weight-text: 400;

  --bo-font-size-title: calc(60% + 3.2vmin);
  --bo-font-size-title--post: calc(30% + 3.2vmin);
  --bo-font-size-text: calc(60% + 0.7vmin);  
  --bo-font-size-text--tiny: calc(30% + 0.7vmin);  
  
  --bo-font-family-logo: "Kameron", serif;
  --bo-font-family-text: "Montserrat", sans-serif;
  
  --bo-color-dark: #343A40;
  --bo-color-medium-dark: rgba(52, 58, 64, .5);
  --bo-color-pink: #BA60A5;
  --bo-color-purple: #C299E7;
  --bo-color-yellow: #F4D03F;
  --bo-color-white: #FCFCFC;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--bo-font-family-text);
  font-size: var(--bo-font-size-text);
  font-weight: var(--bo-font-weight-text);
  line-height: var(--bo-line-height-text);
  color: var(--bo-color-dark);
}

nav {
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bo-color-dark);
  height: 5rem;
  width: 100%;
  padding-block: 1rem;
  padding-inline: 5rem;
}

h1, h2 {
  line-height: var(--bo-line-height-title);
  font-size: var(--bo-font-size-title);
  font-weight: var(--bo-font-weight-title);
  font-family: var(--bo-font-family-text);
}

hr {
  border: .0625rem solid var(--bo-color-white);
  border-bottom: none;
  margin-block:.3125rem;
  width: 100%;
}

button {
  background: none;
  outline: none;
  font-size: var(--bo-font-size-text);
  font-family: var(--bo-font-family-text);
  font-weight: var(--bo-font-weight-text);
  color: --bo-color-white;
  border: none;
  cursor: pointer;
}

input {
  outline: none;
  font-family: var(--bo-font-family-text);
  font-size: var(--bo-font-size-text);
  font-weight: var(--bo-font-weight-text);
  color: var(--bo-color-dark);
  border-style: solid;
  border-color: var(--bo-color-medium-dark);
  border-radius: .3125rem;
  width: 17.3125rem;
  height: var(--bo-font-size-text);
  padding: .55rem;
}

img {
  width: 100%;
  height: 100%;
}

embed {
  width: 100%;
  height: 100%;
}

.navbar__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.navbar__item--left {
  justify-content: flex-start;
}

.navbar__item--right {
  justify-content: flex-end;
}

.navbar__logo {
  display: flex;
  justify-content: flex-start;
  width: fit-content;
  height: 100%;
}

.navbar__button {
  color: var(--bo-color-white);
  margin-inline: 1rem;
}

.popover {
  position: absolute;
  top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  transition: .5s;
}

.popover__top {
  border-left: .75rem solid transparent;
  border-right: .75rem solid transparent;
  border-bottom: .75rem solid var(--bo-color-pink);
}

.popover__body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 5rem;
  height: fit-content;
  padding: 1rem;
  background-color: var(--bo-color-pink);
  border-radius: .3125rem;
  color: var(--bo-color-white);
}

.popover__division {
  margin-top: 1rem;
}

.button--call-to-action {
  display: flex;
  justify-content: center;
  background-color: var(--bo-color-pink);
  color: var(--bo-color-white);
  font-weight: var(--bo-font-weight-title);
  padding: .5rem 2rem;
  border-radius: .3125rem;
  overflow: hidden;
}

.profile-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 5rem;
  padding-top: 10rem;
  padding-bottom: 5rem;
  padding-inline: 5rem;
  height: fit-content;
}

.profile-picture-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
  width: 75%;
  height: fit-content;
}

.profile__item-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: .9375rem;
  width: 100%;
}

.profile__navbar {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;
  gap: .9375rem;
  height: fit-content;
  width: 100%;
  padding: 0;
}

.profile__navbar-item {
  width: fit-content;
  padding-bottom: .75rem;
  border-bottom: 0.1875rem solid transparent;
}

.profile__navbar-item--selected {
  border-bottom: .1875rem solid var(--bo-color-dark);
}

.profile-edit {
  width: 1.25rem;
}

.feed-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 5rem;
  padding-top: 10rem;
  padding-bottom: 5rem;
  padding-inline: 5rem;
  height: fit-content;
}

.feed__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
  width: 100%;
  height: fit-content;
}

.feed__item--central {
  align-items: flex-start;
  width: 200%;
}

.feed__post {
  position: relative;
  display: flex;
  gap: 1.5625rem;
  flex-direction: column;
  padding: 1.5625rem;
  height: fit-content;
}

.feed__post-bookmark {
  position: absolute;
  top: 0;
  right: .9375rem;
  width: 1.75rem;
  height: fit-content;
}

.feed__post-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: .9375rem;
}

.feed__post-header--bold {
  font-weight: var(--bo-font-weight-title);
}

.feed__post-header--bold--large {
  font-weight: var(--bo-font-weight-title);
  font-size: var(--bo-font-size-title--post);
}

.feed__post-header--light {
  font-size: var(--bo-font-size-text--tiny);
}

.feed__post-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: .9375rem;
  flex-direction: column;
  padding-inline: 1.5625rem;
}

.feed__post-content-title {
  font-size: var(--bo-font-size-title--post);
}

.feed__post-comments {
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
  padding: 1.5625rem;
}

.feed__post-comments-area {
  display: flex;
  flex-direction: column;
  gap: .9375rem;
}

.feed__post-comments-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: .9375rem;
}

.feed__post-comments-add {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .9375rem;
}

.feed__post-comments-subitem {
  padding-left: 1.5625rem;
}

.container-structure {
  border: solid .0625rem var(--bo-color-medium-dark);
  border-radius: .3125rem;
  width: 100%;
  height: 100%;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: url("../img/header-bg2.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

.hero__title {
  color: var(--bo-color-white);
  margin-bottom: 1rem;
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 0 5rem;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  max-width: 49rem;
  margin-block: 6.25rem;
}

.content__item {
  display: flex;
  flex-direction: column;
  gap: calc(var(--bo-font-size-text) * 2);
  width: 50%;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .3125rem;
  width: 100%;
}

.input-search-container {
  position: relative;
  width: fit-content;
}

.input__image {
  position: absolute;
  right: 0;
  width: 15%;
  padding: .3rem;
  background-color: var(--bo-color-white);
  border-top-right-radius: .3125rem;
  border-bottom-right-radius: .3125rem;
}

.input--without-border {
  border-color: var(--bo-color-white);
}

.profile-picture {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: transparent;
  overflow: hidden;
}

.profile-picture-name {
  gap: .9375rem;
}

.profile-picture--large {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: transparent;
  overflow: hidden;
}

.show-more:hover {
  text-decoration: underline;
  text-decoration-color: var(--bo-color-medium-dark);
}

.clickable {
  cursor: pointer;
}

.hidden {
  display: none;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 35rem) {
  .content {
    flex-direction: column;
  }
}